body {
	margin: 0 auto;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	background-color: #f2f2f2;
	max-width: 1200px;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.page-header {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	background-color: #ffffff;
	color: #000000;
}


.site-navigation-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-around;
}


.site-navigation-list li:nth-child(2) {
	margin-right: auto;
}

.site-navigation-list li:nth-child(3) {
	margin-left: auto;
}

.site-navigation-list a {
	display: inline-block;
	vertical-align: middle;
	color: #000000;
	transition: all 0.2s linear;
	box-sizing: border-box;
	width: 239px;
	padding: 15px 0;
}

.site-navigation-list a:hover,
.site-navigation-list a:focus {
	color: #81b3d2;
}

.site-navigation-list a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item {
	text-align: center;
}

.site-navigation-item_activ {
	color: #766357;
}

.header-logo {
	position: absolute;
	top: 0;
	right: 50%;
	margin-right: -70px;
}

.container {
	max-width: 1200px;
	margin: auto;
	background-color: #ffffff;
}

.welcome {
	margin: auto;
}

.postcard {
	display: flex;
	background-color: #ffffff;
	background-image: url(../img/background-photo.png);
	background-size: cover;
	background-position: 100% 22%;
	background-repeat: no-repeat;
	min-height: 508px;
	margin-bottom: 67px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.preface p {
	text-align: center;
	background-color: #ffffff;
}

.preface p:first-child {
	font-size: 21px;
	font-weight: 700;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	line-height: inherit;
	margin-bottom: 36px;
}

.preface p:nth-child(2) {
	margin-bottom: 54px;
}

.advantages-list {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	counter-reset: count;

}

.advantages-number {
	position: relative;
}

.advantages-number::before {
	content: "-№-" counter(count);
	counter-increment: count;

}

.advantages-item {
	box-sizing: border-box;
	text-align: center;
	display: flex;
}

.advantages-item_l {
	width: 100%;
	height: 256px;
	overflow: hidden;
}

.advantages-item_s {
	width: 33.3%;
}

.advantages-content {
	height: 100%;
}

.advantages-content_gray {
	margin-bottom: 50px;
}

.advantages-content h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.advantages-item .house {
	background-image: url(../img/icon-1.svg);
	background-repeat: no-repeat;
	background-position: 50% 23%;
	width: 100%;
}

.advantages-item .food {
	background-image: url(../img/icon-3.svg);
	background-repeat: no-repeat;
	background-position: 50% 23%;
	width: 100%;
}

.advantages-item .souvenirs {
	background-image: url(../img/icon-2.svg);
	background-repeat: no-repeat;
	background-position: 50% 22%;
	width: 100%;
}

.advantages-item_l h3 {
	color: #ffffff;
}

.advantages-content_blue {
	flex-basis: 33.3%;
	height: 256px;
	background-color: #81b3d2;
}

.advantages-content_gray {
	display: flex;
	flex-direction: column;
	min-height: 256px;
	background-color: #eeeeee;
}

.advantages-content_white {
	box-sizing: border-box;
	min-height: 330px;
	margin: 0;
	background-color: #ffffff;
}

.advantages-content_white h3 {
	padding-top: 160px;
}

.advantages-content_white p {
	width: 300px;
	display: inline-block;
	padding-bottom: 85px;
}

.advantages-list img {
	flex-basis: 66.6%;
	overflow: hidden;

}

.advantages-item_l p {
	color: #ffffff;
}

.search h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
	text-align: center;
}

.search p,
.search a {
	text-align: center;
}

.button {
	/*поиск гостиницы в седоне*/
	display: inline-block;
	box-sizing: border-box;
	width: 568px;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	background-color: #766357;
	color: #ffffff;
	padding: 30px 135px 30px 135px;
	text-align: center;
	margin-left: 316px;
}

.button:hover,
.button:focus {
	background-color: #604e43;
}

.button:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.modal {
	position: absolute;
	background-color: #ffffff;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.4);
	width: 568px;
	min-height: 393px;
	margin-left: 316px;
	z-index: 1;
}

.search-item_arrival {
	margin-top: 55px;
	margin-bottom: 0;
	padding: 0;
	margin-right: 55px;
	margin-left: 55px;
}

.search-item_departure {
	margin-top: 29px;
	margin-bottom: 0;
	margin-right: 55px;
	margin-left: 55px;
}

.search-item_adults {
	display: inline-block;
	margin-left: 55px;
	margin-right: 52px;
	margin-top: 30px;
	margin-bottom: 55px;
}

.search-item_children {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 55px;
}

.search-item_adults input {
	width: 114px;
	margin-left: 35px;
}


.search-item_children input {
	width: 114px;
	margin-left: 22px;
}

.search-item_arrival input {
	width: 344px;
	margin-left: 18px;
}

.search-item_departure input {
	width: 344px;
	margin-left: 18px;
}

.offers label,
.offers input {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}

.offers input {
	padding-top: 6px;
	padding-bottom: 6px;
	border: none;
	background-color: #f2f2f2;
}

.offers input:hover,
.offers input:focus {
	background-color: #ebebeb;
}

.offers input:active {
	background-color: #ffffff;
	border: inset 2px solid;
	border-color: #e5e5e5;
}

.button-search {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	padding: 15px 194px 15px 194px;
	text-transform: uppercase;
	border: 1px solid transparent;
	width: 458px;
	color: #ffffff;
	background-color: #81b3d2;
	margin-left: 55px;
}

.offers button:hover,
.offers button:focus {
	color: #ffffff;
	background-color: #669ec0;
}

.offers button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.map {
	background-color: #ffffff;
	background-size: 1200px;
	margin-bottom: 0;
}

.page-footer {
	height: 120px;
	display: flex;
	justify-content: space-around;
	color: #000000;
	margin-bottom: 0;

	background-color: #ffffff;
}

.page-footer_main {
	display: flex;
	justify-content: space-around;
	color: #000000;
	position: relative;
	bottom: 120px;
	left: auto;
	background-color: rgba(255, 255, 255, 0.9);
	min-height: 120px;
	width: 1200px;
}

.footer-hashtag {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;
}

.footer-social {
	list-style: none;
	text-align: center;
}

.footer-copyright {
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
}

.selection {
	display: flex;
	justify-content: flex-start;
	height: 217px;
	background-image: url(../img/filter-background@2x.jpg);
	background-position: 100% 50%;
	background-size: cover;
	background-color: #796a6a;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	margin-bottom: 0;
}

.infrastructure {
	display: flex;
	flex-direction: column;
	margin-left: 72px;
	margin-right: 112px;
}

.type-of-housing {
	display: flex;
	flex-direction: column;
	margin-right: auto;
}

.selection ul {
	list-style: none;
}

.selection fieldset {
	border: none;
}

.selection legend {
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
}

.filter-range {
	width: 330px;
	color: #ffffff;
	text-transform: uppercase;
	margin-right: 74px;
	margin-top: 30px;
}

.filter-range-title {
	margin-bottom: 9px;

	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;

	height: 36px;
	margin-bottom: 20px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 38px;
	vertical-align: top;

	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.selection button {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.selection button:hover,
.selection button:focus {
	color: #000000;
	background-color: #ffffff;
}

.filters {
	background-color: #ffffff;
	margin-bottom: 1px;
	margin-top: 0;
	height: 86px;
	display: flex;
	justify-content: space-between;

}

.filters p {
	margin: 0;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 17.5px;
	color: #000000;
}

.filters p:first-of-type {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.output {
	display: flex;
	width: 241px;
	margin-left: 72px;
	margin-bottom: 33px;
	justify-content: space-between;
	align-items: flex-end;
}

.sorting {
	display: flex;
	list-style: none;
	width: 776px;
	margin-left: 40px;
	margin-right: 72px;
	margin-bottom: 33px;
	align-items: flex-end;
	justify-content: space-between;
}

.sorting-item a {
	color: rgba(0, 0, 0, 0.3);
	font-size: 10.5px;
	font-weight: 400;
	line-height: 17.5px;
	border-bottom: 1px dotted #81b3d2;
}

.sorting span {
	margin-left: 500px;
}

.sorting-item_active a {
	border-bottom: none;
	color: #81b3d2;
}

.sorting-item a:hover,
.sorting-item a:focus {
	border-bottom: 1px dotted #81b3d2;
	color: #81b3d2;
}

.sorting-item a:active {
	border-bottom: none;
	color: #000000;
}

.hotel {
	display: flex;
	box-sizing: border-box;
	height: 150px;
	background-color: #ffffff;
	margin-bottom: 1px;

}

.hotel-pictures {
	margin-left: 72px;
	margin-top: 30px;
}

.hotel-content {
	display: flex;
	height: 90px;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 73px;
	width: 890px;
}

.hotel-content_stroke1 {
	display: flex;
	justify-content: flex-start;
	height: 26px;
	width: 890px;
}

.hotel-content_stroke2 {
	display: flex;
	justify-content: space-between;
	height: 12px;
	margin-top: 17px;
	width: 182px;
	align-items: flex-end;
}

.hotel-content_stroke3 {
	display: flex;
	justify-content: flex-start;
	margin-top: 18px;
	min-width: 892px;
	height: 27px;
	align-items: flex-end;
}


.hotel-content h3 a {
	margin: 0;
	list-style: none;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.hotel-content h3 a:hover,
.hotel-content h3 a:focus {
	color: #81b3d2;
}

.hotel-content h3 a:active {
	color: rgba(0, 0, 0, 0.3);
}

.book a {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	background-color: #766357;
	color: #ffffff;
	width: 110px;

	padding: 3px 15px 3px 15px;
	margin-right: 522px;
	text-align: center;
	vertical-align: middle;
}

.book a:hover,
.book a:focus {
	color: #ffffff;
	background-color: #604e43;
}

.book a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.more a {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	background-color: #81b3d2;
	color: #ffffff;
	width: 76px;
	padding: 3px 16px 3px 16px;
	text-align: center;
	vertical-align: middle;
	margin-right: 6px;
}

.more a:hover,
.more a:focus {
	color: #ffffff;
	background-color: #669ec0;
}

.more a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.hotel span {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
	border: 1px solid transparent;
	padding: 3px 12px 3px 15px;
	width: 110px;
	text-align: center;
	vertical-align: middle;
}
