body {
	margin: 0 auto;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	background-color: #f2f2f2;
	max-width: 1200px;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.page-header {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	background-color: #ffffff;
	color: #000000;
}


.site-navigation-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-around;
}


.site-navigation-list li:nth-child(2) {
	margin-right: auto;
}

.site-navigation-list li:nth-child(3) {
	margin-left: auto;
}

.site-navigation-list a {
	display: inline-block;
	vertical-align: middle;
	color: #000000;
	transition: all 0.2s linear;
	box-sizing: border-box;
	width: 239px;
	padding: 15px 0;
}

.site-navigation-list a:hover,
.site-navigation-list a:focus {
	color: #81b3d2;
}

.site-navigation-list a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item {
	text-align: center;
}

.site-navigation-item_activ {
	color: #766357;
}

.header-logo {
	position: absolute;
	top: 0;
	right: 50%;
	margin-right: -70px;
}

.container {
	max-width: 1200px;
	margin: auto;
	background-color: #ffffff;
}

.welcome {
	margin: auto;
}

.postcard {
	display: flex;
	background-color: #ffffff;
	background-image: url(../img/background-photo.png);
	background-size: cover;
	background-position: 100% 22%;
	background-repeat: no-repeat;
	min-height: 508px;
	margin-bottom: 67px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.preface p {
	text-align: center;
	background-color: #ffffff;
}

.preface p:first-child {
	font-size: 21px;
	font-weight: 700;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	line-height: inherit;
	margin-bottom: 36px;
}

.preface p:nth-child(2) {
	margin-bottom: 54px;
}

.advantages-list {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	counter-reset: count;

}

.advantages-number {
	position: relative;
}

.advantages-number::before {
	content: "-№-" counter(count);
	counter-increment: count;

}

.advantages-item {
	box-sizing: border-box;
	text-align: center;
	display: flex;
}

.advantages-item_l {
	width: 100%;
	height: 256px;
	overflow: hidden;
}

.advantages-item_s {
	width: 33.3%;
}

.advantages-content {
	height: 100%;
}

.advantages-content_gray {
	margin-bottom: 50px;
}

.advantages-content h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.advantages-item .house {
	background-image: url(../img/icon-1.svg);
	background-repeat: no-repeat;
	background-position: 50% 23%;
	width: 100%;
}

.advantages-item .food {
	background-image: url(../img/icon-3.svg);
	background-repeat: no-repeat;
	background-position: 50% 23%;
	width: 100%;
}

.advantages-item .souvenirs {
	background-image: url(../img/icon-2.svg);
	background-repeat: no-repeat;
	background-position: 50% 22%;
	width: 100%;
}

.advantages-item_l h3 {
	color: #ffffff;
}

.advantages-content_blue {
	flex-basis: 33.3%;
	height: 256px;
	background-color: #81b3d2;
}

.advantages-content_gray {
	display: flex;
	flex-direction: column;
	min-height: 256px;
	background-color: #eeeeee;
}

.advantages-content_white {
	box-sizing: border-box;
	min-height: 330px;
	margin: 0;
	background-color: #ffffff;
}

.advantages-content_white h3 {
	padding-top: 160px;
}

.advantages-content_white p {
	width: 300px;
	display: inline-block;
	padding-bottom: 85px;
}

.advantages-list img {
	flex-basis: 66.6%;
	overflow: hidden;

}

.advantages-item_l p {
	color: #ffffff;
}

.search h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
	text-align: center;
}

.search p,
.search a {
	text-align: center;
}

.button {
	/*поиск гостиницы в седоне*/
	display: inline-block;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	background-color: #766357;
	color: #ffffff;
	width: 290px;
	padding: 34px 138px 32px 139px;
	border: 1px solid transparent;
	text-align: center;
}

.button:hover,
.button:focus {
	background-color: #604e43;
}

.button:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.offers label,
.offers input {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}

.offers input {
	border: none;
	background-color: #f2f2f2;
}

.offers input:hover,
.offers input:focus {
	background-color: #ebebeb;
}

.offers input:active {
	background-color: #ffffff;
	border: inset 2px solid;
	border-color: #e5e5e5;
}

.button-search {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	padding: 16px 195px 16px 195px;
	text-transform: uppercase;
	border: 1px solid transparent;
	color: #ffffff;
	background-color: #81b3d2;
	margin-bottom: 55px;
}

.offers button:hover,
.offers button:focus {
	color: #ffffff;
	background-color: #669ec0;
}

.offers button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.map {
	background-color: #ffffff;
	background-size: 1200px;
	margin-bottom: 0;
}

.page-footer {
	display: flex;
	justify-content: space-around;
	color: #000000;
	margin-bottom: 0;

	background-color: #ffffff;
}

.page-footer_main {
	display: flex;
	justify-content: space-around;
	color: #000000;
	position: relative;
	bottom: 120px;
	left: auto;
	background-color: rgba(255, 255, 255, 0.9);
	min-height: 120px;
	width: 1200px;
}

.footer-hashtag {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;
}

.footer-social {
	list-style: none;
	text-align: center;
}

.footer-copyright {
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
}

.catalog-main {
	background-color: #ffffff;
}

.selection {
	display: flex;
	min-height: 219px;
	background-image: url(../img/filter-background@2x.jpg);
	background-position: 100% 50%;
	background-size: cover;
	background-color: #796a6a;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.selection ul {
	list-style: none;
}

.selection fieldset {
	border: none;
}

.selection legend {
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
}

.selection button {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
	width: 133px;
	height: 32px;
	padding: 5px;
}

.selection button:hover,
.selection button:focus {
	color: #000000;
	background-color: #ffffff;
}

.filters p {
	font-size: 10.5px;
	font-weight: 400;
	line-height: 17.5px;
	color: #000000;
}

.filters p:first-of-type {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.sorting {
	list-style: none;
}

.sorting-item a {
	color: rgba(0, 0, 0, 0.3);
	font-size: 10.5px;
	font-weight: 400;
	line-height: 17.5px;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-item_active a {
	border-bottom: none;
	color: #81b3d2;
}

.sorting-item a:hover,
.sorting-item a:focus {
	border-bottom: 1px dotted #81b3d2;
	color: #81b3d2;
}

.sorting-item a:active {
	border-bottom: none;
	color: #000000;
}

.hotel {
	display: flex;
	align-items: center;
	min-height: 150px;
}
.hotel-pictures {
	padding-left: 72px;
}

.hotel-content {
	display: flex;
	flex-direction: column;
	padding-left: 30px; 
}
.hotel-content p {
margin: 0;
}

.hotel-content_stroke1 {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	min-width: 963px;
}

.hotel-content_stroke2 {
	display: flex;
	justify-content: space-between;
	padding-top: 17px;
	min-width: 963px;
}

.hotel-content_stroke3 {
	display: flex;
	justify-content: space-between;
	padding-top: 18px;
	min-width: 963px;
}

.hotel-content h3 a {
	margin: 0;
	list-style: none;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.hotel-content h3 a:hover,
.hotel-content h3 a:focus {
	color: #81b3d2;
}

.hotel-content h3 a:active {
	color: rgba(0, 0, 0, 0.3);
}

.book a {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	background-color: #766357;
	color: #ffffff;
	width: 110px;

	padding: 7px 15px 7px 15px;
	border: 1px solid transparent;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 31px;
}

.book a:hover,
.book a:focus {
	color: #ffffff;
	background-color: #604e43;
}

.book a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.more a {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	background-color: #81b3d2;
	color: #ffffff;
	width: 76px;
	padding: 7px 16px 6px 16px;
	border: 1px solid transparent;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 31px;
}

.more a:hover,
.more a:focus {
	color: #ffffff;
	background-color: #669ec0;
}

.more a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.hotel span {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
	border: 1px solid transparent;
	padding: 4px 12px 5px 15px;
	width: 110px;
	height: 27px;
	text-align: center;
	vertical-align: middle;
}
